<style>
    .emojiform {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        text-align: center;
        background-color: gainsboro;
        margin: 2rem auto;
        border-radius: 4px;
        padding: 2rem;
        width: 50%;
    }
    .emojiform__title {
        font-size: 2rem;
        font-weight: 700;
    }
    .emojiform_textlabel {
        font-weight: 700;
    }
    .emojiform_textinput {
        font-size: 1rem;
        text-align: center;
        display: block;
        width: 75%;
        margin: 1rem auto;
        padding: 0.5rem 1rem;
        border-radius: 1rem;
        border: none;
    }
    .emoji-label {
        font-size: 20px;
        padding: 8px;
    }
    .emoji-label.selected {
        font-size: 30px;
        background-color: rgb(242, 246, 255);
        border-radius: 50%;
    }
    .emojiform__submit {
        display: block;
        background-color: rgb(242, 246, 255);
        padding: 0.5rem 1rem;
        border-radius: 1rem;
        border: none;
        margin: 1rem auto;
    }
    .emojiform__submit:hover {
        cursor: pointer;
        background-color: #ccc;
    }
    .error {
        color: red;
    }
</style>

<section class="emojiform">
    {{ if rating }}
        <h2 class="emojiform__title">Edit Rating</h2>
        <form action="{{ route:statamic.cp.like.update }}" method="POST" title="update form">
    {{ else }}
        <h2 class="emojiform__title">Add Rating</h2>
        <form action="{{ route:statamic.cp.like.store }}" method="POST" title="create form">
    {{ /if }}
        {{ csrf_field }}
        <label class="emojiform_textlabel" for="entry_id">Entry:</label>
        <input class="emojiform_textinput" name="entry_id" value="{{ rating['entry_id'] }}">
        {{ if unique_id}}
        <input type="hidden" name="id" value="{{ unique_id }}">
        {{ else }}
        <input type="hidden" name="id" value="{{ rating['id'] }}">
        {{ /if }}
        <label class="emojiform_textlabel" for="user_id">User:</label>
        <input class="emojiform_textinput" type="text" name="user_id" value="{{ rating['user_id'] }}">
        <input type="radio" id="rating1" name="rating" value="1" style="display: none;">
        <input type="radio" id="rating2" name="rating" value="2" style="display: none;">
        <input type="radio" id="rating3" name="rating" value="3" style="display: none;">
        <input type="radio" id="rating4" name="rating" value="4" style="display: none;">
        <input type="radio" id="rating5" name="rating" value="5" style="display: none;">

        <p class="emojiform_textlabel">Rating:</p>
            <label for="rating1" class="emoji-label {{ valueRatingUser == 1 ? 'selected' : '' }}" onclick="selectRating(1)">&#x1F621</label>
            <label for="rating2" class="emoji-label {{ valueRatingUser == 2 ? 'selected' : '' }}" onclick="selectRating(2)">&#128533</label> 
            <label for="rating3" class="emoji-label {{ valueRatingUser == 3 ? 'selected' : '' }}" onclick="selectRating(3)">&#x1F44D</label>
            <label for="rating4" class="emoji-label {{ valueRatingUser == 4 ? 'selected' : '' }}" onclick="selectRating(4)">&#x1F60A</label>
            <label for="rating5" class="emoji-label {{ valueRatingUser == 5 ? 'selected' : '' }}" onclick="selectRating(5)">&#x1F525</label>
            <input class="emojiform__submit" type="submit" value="Posten">
    </form>

    {{ if errors }}
    <p class="error">ERROR</p>
    {{ /if }}

</section>

<script>
    function selectRating(rating) {
        const emojiLabels = document.querySelectorAll('.emoji-label');
        emojiLabels.forEach(label => label.classList.remove('selected'));

        const selectedLabel = document.querySelector(`[for="rating${rating}"]`);
        selectedLabel.classList.add('selected');
    }
</script>